@page
@model RazorPagesFE.Pages.TagPage.IndexModel

@{
    ViewData["Title"] = "Tag Management";
}

<h1>Tag Management</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New Tag</a>
</p>

@if (Model.Message.Length != 0)
{
    <div class="alert alert-info" role="alert">
        @Model.Message
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Tags[0].TagName)</th>
            <th>@Html.DisplayNameFor(model => model.Tags[0].Note)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tags)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TagName)</td>
                <td>@Html.DisplayFor(modelItem => item.Note)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.TagId" class="btn btn-secondary">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.TagId" class="btn btn-info">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.TagId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
